.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}
.box{
   width: 90%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.text{
    text-align: center;
}
.p1{
    margin: 0 !important;
}
.text.p1 h3:nth-child(1){
    opacity: 0.40;
    font-weight: lighter;
    margin: 0 !important;
}
.p2{
    opacity: 0.40;
}
.h3-1{
    opacity: 0.40;
    margin: 0 !important;
}
.h3-2{
    margin: 0 !important;
}
.card{
    width: 20rem;
    height: 12rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.2rem;
    border: none;
    padding: 1rem;
}

.item2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
}
.card1{
    border-top: 3px solid rgb(120, 175, 87);
}
.card2{
    border-top: 3px solid rgb(244, 24, 24);
}
.card3{
    border-top: 3px solid rgb(246, 169, 26);
}
.card4{
    border-top: 3px solid rgba(0, 170, 255, 0.86);
}
.card p{
    font-weight: lighter;
    opacity: 0.40;
}
.card .image-div{
    margin-left: auto !important;
    width: 2.7rem;
}
.image-div img{
    width: 2.7rem;
 
}

@media screen and (max-width: 1000px) {
    .box{
        flex-direction: column;
    }
    .item2{
        height: auto !important;
    }
    .card{
        margin-bottom: 1rem;
        
    }
    .p2{
        text-align: center;
       width: 100%;
    }
}
@media screen and (max-width: 530px) {
    .card{
        width: 17rem;
    }
    .p2-container{
        width: 100%;
        text-align:  center !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p2{
        width: 70%;
    }
}